In [1]:
import numpy as np
import pandas as pd
import psycopg2

import matplotlib.pyplot as plt
import seaborn as sns

import matplotlib.style
matplotlib.style.use('ggplot')
%matplotlib inline

In [2]:
# create a database connection
sqluser = 'mimic'
dbname = 'mimic'
schema_name = 'mimiciii'

cur = None

In [16]:
if cur: 
    cur.close()
    con.close()

con = psycopg2.connect(dbname = dbname, user = sqluser)
cur = con.cursor()
cur.execute('SET search_path to ' + schema_name)

In [4]:
query = \
"""
SELECT subject_id, hadm_id, icustay_id
    , avg(
        case
            when itemid in (920, 1394, 4187, 3486, 226707)
                THEN valuenum*2.54 --convert to cm
            else valuenum -- already in cm
        end
    ) as valuenum
from chartevents
where itemid in (920, 1394, 4187, 3486, 3485, 4188, 226707)
AND valuenum IS NOT NULL
AND valuenum > 0
AND valuenum < 500
GROUP BY subject_id, hadm_id, icustay_id
"""
res = pd.read_sql_query(query, con)
res

       subject_id  hadm_id  icustay_id    valuenum
0               3   145834    211552.0  179.070000
1               8   159514    262299.0   48.999951
2               9   150750    220597.0  182.880000
3              10   184167    288409.0   39.191450
4              13   143045    263738.0  144.780000
5              17   161087    257980.0  167.640000
6              17   194023    277042.0  166.370000
7              20   157681    264490.0  165.100000
8              21   109451    217847.0  175.260000
9              23   152223    227807.0  170.180000
10             24   161859    262236.0  185.420000
11             25   129635    203487.0  185.420000
12             28   162569    225559.0  182.880000
13             30   104557    225176.0  165.100000
14             31   128652    254478.0  182.880000
15             32   175413    295037.0  182.880000
16             34   144319    290505.0  165.100000
17             35   166707    282039.0  175.260000
18             36   122659    211200.0  175.260000
19             36   165660    241249.0  180.340000
20             36   182104    280987.0  175.260000
21             38   185910    248910.0  182.880000
22             39   106266    249426.0   50.800000
23             41   101757    261027.0  187.960000
24             44   181750    291554.0  170.180000
25             49   190539    249195.0  182.880000
26             53   155385    239839.0  154.940000
27             55   190665    262723.0  167.640000
28             60   198892    233741.0   44.500018
29             61   176332    252348.0  173.990000
...           ...      ...         ...         ...
29070       99847   155024    219261.0  152.400000
29071       99862   178839    253685.0  149.860000
29072       99863   100749    216757.0  182.880000
29073       99868   177777    231346.0  139.700000
29074       99870   124555    220524.0  157.480000
29075       99873   143544    206270.0  187.960000
29076       99880   179507    215004.0  154.940000
29077       99881   172327    214377.0  170.180000
29078       99883   150755    276467.0  165.100000
29079       99883   198523    293088.0  165.100000
29080       99897   162913    266801.0  175.260000
29081       99899   188409    245756.0  154.940000
29082       99901   131711    226541.0  182.880000
29083       99912   189380    236183.0  175.260000
29084       99913   175989    292375.0  167.640000
29085       99922   123563    259919.0  182.880000
29086       99923   192053    298857.0  185.420000
29087       99934   176121    291007.0  180.340000
29088       99936   107913    213906.0   63.500000
29089       99937   129380    291004.0  170.180000
29090       99938   103815    296707.0  172.720000
29091       99944   185654    221067.0  170.180000
29092       99966   167228    252173.0  177.800000
29093       99973   150202    275083.0  170.180000
29094       99982   112748    275958.0  180.340000
29095       99982   151454    221194.0  180.340000
29096       99982   183791    239827.0  180.340000
29097       99985   176670    279638.0  180.340000
29098       99995   137810    229633.0  158.750000
29099       99999   113369    246512.0  152.400000

[29100 rows x 4 columns]

In [7]:
res['icustay_id'].value_counts().sort_values(ascending = False).head()

294912.0    1
294941.0    1
229392.0    1
294943.0    1
262158.0    1
Name: icustay_id, dtype: int64

In [8]:
query = \
"""
select subject_id, hadm_id, icustay_id
    , avg(
        case
            when itemid in (3581, 226512)
               then valuenum*0.45359237
            when itemid = 3582
               then valuenum*0.0283495231
            else valuenum
        end
    ) as valuenum
from chartevents
where itemid in (762, 763, 3723, 3580, 3581, 3582, 226512)
AND valuenum IS NOT NULL
AND valuenum > 0
GROUP BY subject_id, hadm_id, icustay_id
"""
res = pd.read_sql_query(query, con)
res

       subject_id  hadm_id  icustay_id    valuenum
0               3   145834    211552.0  101.900002
1               4   185777    294638.0   53.599998
2               8   159514    262299.0    3.160000
3               9   150750    220597.0  102.920001
4              10   184167    288409.0    1.045368
5              12   112213    232669.0   83.966667
6              13   143045    263738.0   73.649999
7              17   161087    257980.0   71.666667
8              17   194023    277042.0   67.900002
9              20   157681    264490.0   93.300003
10             21   109451    217847.0   65.319998
11             21   111970    216859.0   64.000000
12             22   165315    204798.0   55.000000
13             23   124321    234044.0   30.299970
14             23   152223    227807.0   72.099998
15             24   161859    262236.0  120.000000
16             25   129635    203487.0  100.400002
17             28   162569    225559.0   96.000000
18             30   104557    225176.0   65.699997
19             31   128652    254478.0   74.933333
20             32   175413    295037.0  120.000000
21             33   176176    296681.0   79.599998
22             34   115799    263086.0   71.699997
23             34   144319    290505.0   33.792632
24             35   166707    282039.0  100.683334
25             36   122659    211200.0  109.466665
26             36   165660    241249.0   48.171510
27             36   182104    280987.0  104.149998
28             37   188670    213503.0  106.400002
29             38   185910    248910.0   93.916667
...           ...      ...         ...         ...
52818       99901   131711    226541.0   41.549061
52819       99903   135939    291066.0   40.188284
52820       99912   189380    236183.0   38.101759
52821       99913   175989    292375.0   35.743079
52822       99922   123563    259919.0   34.971972
52823       99923   164914    202505.0   48.352947
52824       99923   192053    298857.0   43.091275
52825       99928   104802    236704.0   26.172280
52826       99934   176121    291007.0   42.546964
52827       99935   174624    255381.0   36.287390
52828       99936   107913    213906.0   29.891737
52829       99937   129380    291004.0   34.427661
52830       99938   103815    296707.0   36.604904
52831       99939   159023    252442.0   28.394882
52832       99944   185654    221067.0   31.887544
52833       99946   157197    298613.0   37.648167
52834       99955   108494    243255.0   38.101759
52835       99957   148574    257127.0   42.048013
52836       99965   101083    257338.0   36.378108
52837       99966   167228    252173.0   43.454149
52838       99973   150202    275083.0   47.627199
52839       99982   112748    275958.0   29.302067
52840       99982   151454    221194.0   32.295777
52841       99982   183791    239827.0   32.794728
52842       99983   117390    286606.0   34.926612
52843       99985   176670    279638.0   32.205058
52844       99991   151118    226241.0   45.586033
52845       99992   197084    242052.0   29.664941
52846       99995   137810    229633.0   30.844281
52847       99999   113369    246512.0   43.771664

[52848 rows x 4 columns]

In [9]:
res['icustay_id'].value_counts().sort_values(ascending = False).head()

207928.0    2
219572.0    2
298739.0    2
228181.0    2
291546.0    2
Name: icustay_id, dtype: int64

In [10]:
res.loc[res['icustay_id'] == 207928.0]

     subject_id  hadm_id  icustay_id   valuenum
454         417   102633    207928.0  53.700001
455         417   178013    207928.0  53.700001

In [12]:
query = \
"""
select * from admissions where subject_id = 417;
"""
res = pd.read_sql_query(query, con)
res

,row_id,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admission_location,discharge_location,insurance,language,religion,marital_status,ethnicity,edregtime,edouttime,diagnosis,hospital_expire_flag,has_chartevents_data
0,533,417,178013,2177-03-22 22:24:00,2177-03-23 07:20:00,2177-03-23 07:20:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Private,None,UNOBTAINABLE,MARRIED,WHITE,2177-03-22 22:01:00,2177-03-23 00:20:00,SUBARACHNOID HEMORRHAGE,1,1
1,534,417,102633,2177-03-23 16:17:00,2177-03-23 07:20:00,2177-03-23 07:20:00,URGENT,PHYS REFERRAL/NORMAL DELI,DEAD/EXPIRED,Private,None,UNOBTAINABLE,MARRIED,WHITE,NaT,NaT,ORGAN DONOR ACCOUNT,1,1

# Get first echo of each icustay

In [37]:
query = \
"""
with icustay_ed AS (
    select ed.*, ic.icustay_id, 
        DENSE_RANK() OVER (PARTITION BY ic.icustay_id ORDER BY ed.charttime) as first_echo
        ,case
          when technicalquality = 'Adequate' then 2
          when technicalquality = 'Suboptimal' then 1
          when technicalquality = 'Good' then 3
          else 0
        end as technicalquality_
    from echodata ed
    inner join icustays ic
    on ic.hadm_id = ed.hadm_id
    where (ed.charttime > (ic.intime - INTERVAL '8 hours')) AND (ed.charttime < ic.outtime)
)
select distinct on (icustay_id) * from icustay_ed
WHERE first_echo = 1
order by icustay_id, technicalquality_ desc
"""
res = pd.read_sql_query(query, con)
res.head()

,row_id,subject_id,hadm_id,chartdate,charttime,indication,height,weight,bsa,bp,...,bpdias,hr,status,test,doppler,contrast,technicalquality,icustay_id,first_echo,technicalquality_
0,83481,27513,163557,2199-08-03,2199-08-03 12:40:00,ARDS vs CHF,70.0,160.0,1.90,105/71,...,71.0,93.0,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Adequate,200003,1,2
1,99984,29904,129607,2189-12-01,2189-12-01 08:34:00,"Intra-op TEE for Re-exploration of chest, s/p ...",64.0,190.0,1.92,95/45,...,45.0,105.0,Inpatient,TEE (Complete),Full Doppler and color Doppler,None,Adequate,200009,1,2
2,71333,9514,127229,2105-02-18,2105-02-18 16:51:00,Chronic lung disease. Left ventricular function.,NaN,NaN,NaN,None,...,NaN,NaN,Inpatient,Portable TTE(Complete),Complete pulse and color flow,None,Suboptimal,200014,1,1
3,77556,21789,112486,2178-07-08,2178-07-08 12:15:00,Cerebrovascular event/TIA. Hypertension.,NaN,NaN,NaN,172/46,...,46.0,55.0,Inpatient,Portable TTE (Complete),Complete pulse and color flow,None,Adequate,200019,1,2
4,82662,19167,164161,2113-08-25,2113-08-25 12:17:00,Intra-operative TEE for CABG,78.0,300.0,2.68,None,...,NaN,NaN,Inpatient,TEE (Complete),Full Doppler and color Doppler,None,Adequate,200025,1,2

In [32]:
res['icustay_id'].value_counts().head()

256761    2
268205    2
217826    2
298972    2
273235    2
Name: icustay_id, dtype: int64

In [36]:
res.loc[res['icustay_id'] == 268205]

,row_id,subject_id,hadm_id,chartdate,charttime,indication,height,weight,bsa,bp,...,bpdias,hr,status,test,doppler,contrast,technicalquality,icustay_id,first_echo,technicalquality_
13508,90167,53280,148878,2113-01-31,2113-01-31 12:08:00,Pulmonary embolus. Right ventricular function.,64.0,113.0,1.54,134/65,...,65.0,86.0,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Suboptimal,268205,1,1
13509,90168,53280,148878,2113-01-31,2113-01-31 12:08:00,Pulmonary embolus. Right ventricular function.,64.0,113.0,1.54,134/65,...,65.0,85.0,Inpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate,268205,1,2

In [38]:
res.loc[res['icustay_id'] == 268205]

,row_id,subject_id,hadm_id,chartdate,charttime,indication,height,weight,bsa,bp,...,bpdias,hr,status,test,doppler,contrast,technicalquality,icustay_id,first_echo,technicalquality_
13506,90168,53280,148878,2113-01-31,2113-01-31 12:08:00,Pulmonary embolus. Right ventricular function.,64.0,113.0,1.54,134/65,...,65.0,85.0,Inpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate,268205,1,2

In [25]:
res['technicalquality_'].value_counts()

1    15109
2     4607
3       40
0        1
Name: technicalquality_, dtype: int64